In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('HouseArea.csv')
df.head()

   Area   Price  Bedroom  Age
0  2600  550000      3.0   20
1  3000  565000      4.0   15
2  3200  610000      NaN   18
3  3600  680000      3.0   30
4  4000  725000      5.0    8

In [ ]:
#Figure out the relations and also fill the missing data

#price = m1*area + m2*bedrooms + m3*age + b

#Here price is dependent and r.h.s variables are independent

In [ ]:
#Fill the NaN value

In [11]:
import math
median_bedroom = math.floor(df.Bedroom.median())
median_bedroom

3

In [12]:
df.Bedroom.fillna(median_bedroom)
df

   Area   Price  Bedroom  Age
0  2600  550000      3.0   20
1  3000  565000      4.0   15
2  3200  610000      3.5   18
3  3600  680000      3.0   30
4  4000  725000      5.0    8

In [19]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('Price',axis='columns'),df.Price)

LinearRegression()

In [20]:
reg.coef_

array([   180.19345472, -60375.92214723,  -4060.587035  ])

In [21]:
reg.intercept_

332259.06451106555

In [25]:
#price = m1*area + m2*bedrooms + m3*age + b

112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386

In [ ]:
# Predict price for House area of 5000sqr ft with 3 bedrooms and 40 Age

In [24]:
reg.predict([[3000,3,20]])

array([610499.92151938])

In [ ]:
#To convert into csv file, use command

#area_df.to_csv("file_name.csv")